<p id="notice"><%= notice %></p>

<p>
  <strong>Href:</strong>
  <%= @hoopla_metric_value.href %>
</p>

<p>
  <strong>Metric:</strong>
  <%= @hoopla_metric_value.metric %>
</p>

<p>
  <strong>User:</strong>
  <%= @hoopla_metric_value.user %>
</p>

<p>
  <strong>Value:</strong>
  <%= @hoopla_metric_value.value %>
</p>
